.loginContainer {
    width: 600px;
    background: white;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 3px 4px rgba(24,59,101,.37);
    text-align: center;
    margin-bottom: 4%;
}
html, body{
    font-family: 'Lato', sans-serif !important;

}
.sendform {
    width: 45%;
}
#qrcodecontainer{
    padding: 20px;
}
#printwalletcont{
    display: none
}
th, td {
    padding: 19px 19px 19px !important;
    border: 0;
    border-bottom: 1px solid #d1d7dc;
    font-weight: 400;
    font-size: 1.4em;
    text-align: left;
    font-size: 1em;
}
span.xrk.out {
    background: #ce5454;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    margin-left: 5px;
    font-size: 12px;
    text-align: right;
    float: left;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
}

span.xrk {
    font-weight: 600;
    font-size: 13px;
}

p#seed {
    font-size: 16px;
    padding: 15px;
    background: #7c4600;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    
}
.notransaction{
    display: none;
    padding: 20px;
    color: #ea3434;
    font-weight: 500;
}
.col-md-12.printcontainer{
    padding: 20px;
}
a#printWallet {
    float: right;
}
#seedcontainer{
    padding: 20px;
    display: none;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: -15px;
}

.navbar-brand>img {
    display: block;
    width: 13%;
}

span.xrk.in {
    background: #31b731c4;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    margin-left: 5px;
    font-size: 12px;
    text-align: right;
    float: left;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
}


label {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    font-weight: 400;
}



.buttons{
    float: none !important;
    margin: 10px auto;
    overflow: hidden;
    float: left;
    min-width: 80px;
    padding: 7.5px 27px;
    box-shadow: 0 2px 4px rgba(11,31,79,.5);
    border-radius: 4px;
    border: 0;
    background: #22283a;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.inputboxes{
    display: block;
    width: 79%;
    border-radius: 4px;
    border: 1px solid #a4aaba;
    background: #fff;
    color: #a4aaba;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 24px;
    padding: 9px;
}

.w100{
    width: 100%;
}
.errorMessage{
    display: none;
    color:rgb(192, 57, 57);
}